# Ambiente virtual
.venv/
venv/
env/

# Cache do Python
__pycache__/
*.py[cod]


# Variáveis de ambiente e segredos
.env
.env.*

# Arquivos de IDE
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos gerados
*.log